<launch>
<!-- <node pkg="tf" type="static_transform_publisher" name="kinect_calib" args="0.172, 0.038, 0.115, 0.043, 0.636, -0.048, 0.769  head kinect_link 50"/> -->

<node pkg="tf" type="static_transform_publisher" name="kinect_calib" args="0.166 0.005 0.123 0.007 1.425 0.0  head kinect_link 50"/>
<node pkg="tf" type="static_transform_publisher" name="kinect_sensor2" args="0 0 0 -0.500 0.500 -0.500 0.500 kinect_link camera_depth_optical_frame 50"/>

</launch>
